<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667648437949-6sjpaac1ej9dmt5s9f44a5n9tp07sei6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667648437949-6sjpaac1ej9dmt5s9f44a5n9tp07sei6</string>
	<key>API_KEY</key>
	<string>AIzaSyBFG7DjmgPRku8rm8F9gNGGOHjTFUGpHcg</string>
	<key>GCM_SENDER_ID</key>
	<string>667648437949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leqahy.v1.app</string>
	<key>PROJECT_ID</key>
	<string>leqahy-c832f</string>
	<key>STORAGE_BUCKET</key>
	<string>leqahy-c832f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667648437949:ios:0605a0556d311ec6a511d4</string>
	<key>DATABASE_URL</key>
	<string>https://leqahy-c832f-default-rtdb.firebaseio.com</string>
</dict>
</plist>